// Material design variables
$toolbar-height: 64px;

// Business variables
$spacing-xs: 4px;
$spacing-sm: $spacing-xs * 2;
$spacing-md: $spacing-sm * 2;
$spacing-lg: $spacing-md * 2;

$colors: (
  matError: #f44336
);
